
html {
	height: 100%;
	background-color: #F8F8F8;
}
body{
    font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size:   10px;
    font-weight: bold;
    color: #333;
	margin: 1rem;
}
table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
th {
	height: 2.25rem;
	text-align: left;
	padding: 2px 10px;
	border-width: 0 0 1px 0;
	font-weight: 600;
	color: #333;
	transition: box-shadow 0.2s;
	border: 1px solid #C4C4C4;
	background-color: #f8f8f8;
}
tr {
	background: #fff;
	color: #333;
	transition: box-shadow 0.2s;
	outline-color: #93cbf9;
	border: 1px solid #C4C4C4;
}
tr:hover {
	background: #E6F2F9;
}
tr > td {
	height: 2.25rem;
    font-size: 12px;
	text-align: left;
	border: 1px solid #C4C4C4;
	padding: 8px 10px;
	overflow: visible;
}
p.right {text-align: right}
div.disclaimer
{
    font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size:   8px;
    background-color: #fff;
}


        /** Fonts **/
        h1, .h1 {
            font-weight: 300;
            font-size: 2rem;
        }
        h2, .h2 {
            font-weight: 500;
            font-size: 1.125rem;
            margin-top: 1.5rem;
        }
        h3, .h3 {
            font-weight: 500;
            font-size: 1rem;
        }
        h4, .h4 {
            font-weight: 300;
            font-size: 0.875rem;
            text-transform: uppercase;
        }
        h5, .h5 {
            display: block;
            font-weight: 500;
            font-size: 0.875rem;
            margin: 1rem 0 0.625rem 0;
        }
        h6, .h6 {
            font-weight: 500;
            font-size: 0.875rem;
        }
        .body-medium-label {
            display: block;
            font-size: .875rem;
            margin-bottom: 0.625rem;
        }
        .body-regular-label {
            font-size: .875rem;
        }
        .body-light-label {
            font-size: .875rem;
        }
        a, .hyperlink {
            font-size: 0.875rem;
        }
        .hyperlink:hover {
            text-decoration: underline;
        }
        .p, p {
            font-size: .875rem;
        }
        li {
            font-size: .875rem;
        }
        em {
            font-weight: 700;
        }
        /** End Fonts **/

    /** Fonts **/
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }