openapi: 3.0.1
info:
  version: 1.0.0
  title: Sevocity FHIR API
  description: "This API documentation is for the Sevocity FHIR API as a whole. \n\
    Resources marked with * are part of the (g)(10) certification \n"
  contact:
    name: Sevocity Support
    email: support@sevocity.com
servers:
- url: https://api.sevocity.com/api/sevocity/v1/{Organization ID}
  description: Sevocity FHIR api - Providers
- url: https://api.sevocity.com/api/patients/v1/{Organization ID}
  description: Sevocity FHIR api - Patients
paths:
  /metadata:
    $ref: ./paths/metadata.yml
  /AllergyIntolerance/{id}:
    $ref: ./paths/AllergyIntolerance_id.yml
  /AllergyIntolerance:
    $ref: ./paths/AllergyIntolerance.yml
  /Appointment/{id}:
    $ref: ./paths/Appointment_id.yml
  /Appointment:
    $ref: './paths/Appointment.yml'
  /CarePlan/{id}:
    $ref: ./paths/CarePlan_id.yml
  /CarePlan:
    $ref: ./paths/CarePlan.yml
  /CareTeam/{id}:
    $ref: ./paths/CareTeam_id.yml
  /CareTeam:
    $ref: ./paths/CareTeam.yml
  /Condition/{id}:
    $ref: ./paths/Condition_id.yml
  /Condition:
    $ref: ./paths/Condition.yml
  /Coverage:
    $ref: ./paths/Coverage.yml
  /Device/{id}:
    $ref: ./paths/Device_id.yml
  /Device:
    $ref: ./paths/Device.yml
  /DiagnosticReport/{id}:
    $ref: ./paths/DiagnosticReport_id.yml
  /DiagnosticReport:
    $ref: ./paths/DiagnosticReport.yml
  /DocumentReference/{id}:
    $ref: ./paths/DocumentReference_id.yml
  /DocumentReference:
    $ref: ./paths/DocumentReference.yml
  /Encounter/{id}:
    $ref: ./paths/Encounter_id.yml
  /Encounter:
    $ref: ./paths/Encounter.yml
  /Endpoint:
    $ref: ./paths/Endpoint.yml
  /Goal/{id}:
    $ref: ./paths/Goal_id.yml
  /Goal:
    $ref: ./paths/Goal.yml
  /Group/{id}/$export:
    $ref: ./paths/Group_id_export.yml
  /Immunization/{id}:
    $ref: ./paths/Immunization_id.yml
  /Immunization:
    $ref: ./paths/Immunization.yml
  /Location/{id}:
    $ref: ./paths/Location_id.yml
  /Medication/{id}:
    $ref: ./paths/Medication_id.yml
  /MedicationRequest/{id}:
    $ref: ./paths/MedicationRequest_id.yml
  /MedicationRequest:
    $ref: ./paths/MedicationRequest.yml
  /MedicationStatement/{id}:
    $ref: ./paths/MedicationStatement_id.yml
  /MedicationStatement:
    $ref: ./paths/MedicationStatement.yml
  /MedicationDispense/{id}:
    $ref: ./paths/MedicationDispense_id.yml
  /MedicationDispense:
    $ref: ./paths/MedicationDispense.yml
  /Observation/{id}:
    $ref: ./paths/Observation_id.yml
  /Observation:
    $ref: ./paths/Observation.yml
  /Organization/{id}:
    $ref: ./paths/Organization_id.yml
  /Organization:
    $ref: ./paths/Organization.yml
  /Patient/{id}:
    $ref: ./paths/Patient_id.yml
  /Patient:
    $ref: ./paths/Patient.yml
  /Practitioner/{id}:
    $ref: ./paths/Practitioner_id.yml
  /Practitioner:
    $ref: ./paths/Practitioner.yml
  /Procedure/{id}:
    $ref: ./paths/Procedure_id.yml
  /Procedure:
    $ref: ./paths/Procedure.yml
  /Provenance/{id}:
    $ref: ./paths/Provenance_id.yml
  /RelatedPerson/{id}:
    $ref: ./paths/RelatedPerson_id.yml
  /RelatedPerson:
    $ref: ./paths/RelatedPerson.yml
  /ServiceRequest/{id}:
    $ref: ./paths/ServiceRequest_id.yml
  /ServiceRequest:
    $ref: ./paths/ServiceRequest.yml
  /QuestionnaireResponse/{id}:
    $ref: ./paths/QuestionnaireResponse_id.yml
  /QuestionnaireResponse:
    $ref: ./paths/QuestionnaireResponse.yml
  /Questionnaire:
    $ref: ./paths/Questionnaire.yml
tags:
- name: System Level Operations
  description: Server-level operations
- name: AllergyIntolerance
  description: The AllergyIntolerance FHIR resource type *
- name: Appointment
  description: The Appointment FHIR resource type
- name: CarePlan
  description: The CarePlan FHIR resource type *
- name: CareTeam
  description: The CareTeam FHIR resource type *
- name: Condition
  description: The Condition FHIR resource type *
- name: Coverage
  description: The Coverage FHIR resource type *
- name: Device
  description: The Device FHIR resource type *
- name: DiagnosticReport
  description: The DiagnosticReport FHIR resource type *
- name: DocumentReference
  description: The DocumentReference FHIR resource type *
- name: Encounter
  description: The Encounter FHIR resource type *
- name: Endpoint
  description: The Endpoint FHIR resource type *
- name: Goal
  description: The Goal FHIR resource type *
- name: Group
  description: The Group FHIR resource type *
- name: Immunization
  description: The Immunization FHIR resource type *
- name: Location
  description: The Location FHIR resource type *
- name: Medication
  description: The Medication FHIR resource type *
- name: MedicationRequest
  description: The MedicationRequest FHIR resource type *
- name: MedicationStatement
  description: The MedicationStatement FHIR resource type
- name: MedicationDispense
  description: The MedicationDispense FHIR resource type *
- name: Observation
  description: The Observation FHIR resource type *
- name: Organization
  description: The Organization FHIR resource type *
- name: Patient
  description: The Patient FHIR resource type *
- name: Practitioner
  description: The Practitioner FHIR resource type *
- name: Procedure
  description: The Procedure FHIR resource type *
- name: Provenance
  description: The Provenance FHIR resource type *
- name: RelatedPerson
  description: The RelatedPerson FHIR resource type
- name: ServiceRequest
  description: The ServiceRequest FHIR resource type
- name: QuestionnaireResponse
  description: The QuestionnaireResponse FHIR resource type
- name: Questionnaire
  description: The Questionnaire FHIR resource type
externalDocs:
  url: http://hl7.org/fhir/us/core/STU6.1.0/general-guidance.html
  description: US-Core to USCDI mappings
components:
  parameters:
    PatientParam:
      $ref: ./components/parameters/PatientParam.yml
    IdParam:
      $ref: ./components/parameters/IdParam.yml
  schemas:
    ALLERGYINTOLERANCE:
      $ref: ./components/schemas/READALLERGYINTOLERANCE.yml
    SEARCHALLERGYINTOLERANCE:
      $ref: ./components/schemas/SEARCHALLERGYINTOLERANCE.yml
    APPOINTMENT:
      $ref: ./components/schemas/APPOINTMENT.yml
    READCAREPLAN:
      $ref: ./components/schemas/READCAREPLAN.yml
    SEARCHCAREPLAN:
      $ref: ./components/schemas/SEARCHCAREPLAN.yml
    READCARETEAM:
      $ref: ./components/schemas/READCARETEAM.yml
    SEARCHCARETEAM:
      $ref: ./components/schemas/SEARCHCARETEAM.yml
    READCONDITION:
      $ref: ./components/schemas/READCONDITION.yml
    SEARCHCONDITION:
      $ref: ./components/schemas/SEARCHCONDITION.yml
    READDEVICE:
      $ref: ./components/schemas/READDEVICE.yml
    SEARCHDEVICES:
      $ref: ./components/schemas/SEARCHDEVICES.yml
    READDIAGNOSTICREPORT:
      $ref: ./components/schemas/READDIAGNOSTICREPORT.yml
    SEARCHDIAGNOSTICREPORT:
      $ref: ./components/schemas/SEARCHDIAGNOSTICREPORT.yml
    READDOCUMENTREFERENCE:
      $ref: ./components/schemas/READDOCUMENTREFERENCE.yml
    SEARCHDOCUMENTREFERENCE:
      $ref: ./components/schemas/SEARCHDOCUMENTREFERENCE.yml
    READENCOUNTER:
      $ref: ./components/schemas/READENCOUNTER.yml
    SEARCHENCOUNTER:
      $ref: ./components/schemas/SEARCHENCOUNTER.yml
    SEARCHALLENDPOINTS:
      $ref: ./components/schemas/SEARCHALLENDPOINTS.yml
    READGOAL:
      $ref: ./components/schemas/READGOAL.yml
    SEARCHGOALS:
      $ref: ./components/schemas/SEARCHGOALS.yml
    FHIR-JSON-RESOURCE:
      $ref: ./components/schemas/FHIR-JSON-RESOURCE.yml
    READIMMUNIZATION:
      $ref: ./components/schemas/READIMMUNIZATION.yml
    SEARCHIMMUNIZATION:
      $ref: ./components/schemas/SEARCHIMMUNIZATION.yml
    READLOCATION:
      $ref: ./components/schemas/READLOCATION.yml
    READMEDICATION:
      $ref: ./components/schemas/READMEDICATION.yml
    READMEDICATIONREQUEST:
      $ref: ./components/schemas/READMEDICATIONREQUEST.yml
    SEARCHMEDICATIONREQUEST:
      $ref: ./components/schemas/SEARCHMEDICATIONREQUEST.yml
    READMEDICATIONSTATEMENT:
      $ref: ./components/schemas/READMEDICATIONSTATEMENT.yml
    SEARCHMEDICATIONSTATEMENT:
      $ref: ./components/schemas/SEARCHMEDICATIONSTATEMENT.yml
    READOBSERVATION:
      $ref: ./components/schemas/READOBSERVATION.yml
    SEARCHOBSERVATION:
      $ref: ./components/schemas/SEARCHOBSERVATION.yml
    READORGANIZATION:
      $ref: ./components/schemas/READORGANIZATION.yml
    SEARCHORGANIZATION:
      $ref: ./components/schemas/SEARCHORGANIZATION.yml
    SEARCHPATIENT:
      $ref: ./components/schemas/SEARCHPATIENT.yml
    READPATIENT:
      $ref: ./components/schemas/READPATIENT.yml
    ReadPractitioner:
      $ref: ./components/schemas/ReadPractitioner.yml
    SEARCHPRACTITIONER:
      $ref: ./components/schemas/SEARCHPRACTITIONER.yml
    READPROCEDURE:
      $ref: ./components/schemas/READPROCEDURE.yml
    SEARCHPROCEDURE:
      $ref: ./components/schemas/SEARCHPROCEDURE.yml
    PROVENANCE:
      $ref: ./components/schemas/PROVENANCE.yml
    READRELATEDPERSON:
      $ref: ./components/schemas/READRELATEDPERSON.yml
    SEARCHRELATEDPERSON:
      $ref: ./components/schemas/SEARCHRELATEDPERSON.yml
    READSERVICEREQUEST:
      $ref: ./components/schemas/READSERVICEREQUEST.yml
    SEARCHSERVICEREQUEST:
      $ref: ./components/schemas/SEARCHSERVICEREQUEST.yml
