 body, html{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:14px;
	 width:100%;
	 height:100%;
	 display: grid;
	 
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
p{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:14px;
}
main{
	display:flex;
	flex:1;
	background:#515252;
	height:100%;
	justify-content: center;
	flex-direction: row;
	width:100%;
}
.white{
	background: #F4F7F9;
	flex-direction: column;
	justify-content: flex-start;
}
header{
	width:100%;
	position:sticky;
	top:0;
	height:60px;
	width:100%;
	z-index: 9;
	
}
header figure{
	background:#515252;
	height:100%;
	text-align: center;
	margin:0;
	height:60px;
	padding:5px;
}
header img{
	width:180px;
}
.container{
	display:flex;
	width:100%;
	padding:0px 20px 20px;
	flex-direction: column;
	/* box-shadow: 0 0 18px -12px #51525b; */
}
.content{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex:1;
}
.left{
	display:flex;
	flex-direction: row;
	align-items: center;
	border-bottom:1px dotted #3DB487;
	padding:0 0 30px;
}
.content img{
	width:450px;
	padding: 0 50px 0 0;
}
.text{
	text-align: center;
	padding:0 0px 0 50px;
	border-left:1px dotted #3DB487;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:40px;
	text-transform: uppercase;
	padding:20px 0 10px;
	text-align: center;
	color:#fff;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:22px;
	padding:10px 0 10px;
	text-align: center;
	color:#515252;
	background:#fff;
	box-shadow:5px 5px 17px -13px #515252;
	position:sticky;
	top:0px;
}
p{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:16px;
	color:#999;
	text-align: center;
}
.details{
	background: rgba(0,0,0,0.5);
margin: 0px 0 0 10px;
display: flex;
flex-direction: row;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:16px;
	text-transform: uppercase;
	padding:20px 20px;
	text-align: center;
	color:#fff;
	background:#4284dd ;
}
.details article{
	display:flex;
	flex-direction: column;
	flex:1;
	justify-content: center;
}
.details article a:hover{
	background:#4284dd;
}
.details article figure{
	padding: 20px 30px;
display: flex;
flex: 1;
align-items: center;
flex-direction: column;
color: #e6e6e6;
justify-content: center;
text-align: center;
border-bottom: 1px dotted #666;
}
.details article figure figcaption{
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	padding:15px 0 0 0;
	
	font-size:16px;
	color:#ccc;
}
.details article svg{
	width:50px;
	height:50px;
}
.details article svg path{
	fill:#ccc;
}
.details article a:hover svg path{
	fill:#fff;
}
.details article a:hover figure figcaption{
	color:#fff;
}

table{
	width:100%;
	border-collapse: collapse;
	font-family: 'Roboto', sans-serif;
	border:1px solid #e6e5e5;
	background:#fff;
	
	
}
table tr td table{
	border:none;
}
table tr td table tr td{
	border:none;
	padding:0 10px;
}

th, .theader{
	padding:5px;
	text-align: left;
	background:#4284DD;
	border-right:1px solid #e6e5e5;
	color:#fff;
	font-size:10px;
	text-transform: uppercase;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.pagebreaking tr{
	page-break-inside: avoid;
}
td{
	padding:3px;
	text-align: left;
	border-right:1px solid #e6e5e5;
	border-bottom:1px solid #e6e5e5;
	color:#515252;
	font-size:11px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
}
.td-center{
	text-align:center;
}
.td-right{
	text-align: right;
}
.thick td{
	border-bottom-width: 6px;
}

.signature td{
	border-bottom:1px solid #e6e6e6;
}
table ul, table ol{
	margin:5px 0 0 13px;
}
table ul{
	padding:0 0 0 5px;
}
table ul li, table ol li{
	font-size:11px;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	padding:0 0 0 5px;
}
table ul li{
	margin:0 0 0 0px;
	padding:0;
}
table .nolist{
	list-style: none;
	margin:5px 0 0 20px;
}
table .nolist span{
	margin:0 0 0 -25px;
	width:22px;
	display:inline-block;

}
h6{
	font-size:16px;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
}
strong{
	display:block;
	margin:5px 0;
}
b{
	font-weight:500;
}
em{
	font-style: normal;
	font-size:13px;
	font-weight:600;
}
.table-title{
	background:#e6e6e6;
	padding:8px 5px;
	color:#515252;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	text-transform: uppercase;
}
.loweralpha{
	list-style-type: lower-alpha;
	margin-bottom:10px;
}
small{
	text-transform: none;
	font-weight:400
}
.border-right{
	border-right:1px solid #ccc;
}
.green{
	background:rgba(52,167, 83, 1);
	color:#fff;
}
.yellow{
	background:rgba(187,187, 6, 1);
	color:#fff;
}
.red{
	background:rgba(255,0, 0, 1);
	color:#fff;
}
.purple{
	background:rgba(153,0, 255, 1);
	color:#fff;
}
.orange{
	background:rgba(255,153, 0, 1);
	color:#fff;
}
.light-red{
	background:rgba(255,0, 0, 0.1);
	color:rgba(255,0, 0, 1);
}
.light-red td{
	color:rgba(255,0, 0, 1);
}
.light-gray{
	background:#f9f9f9;
}
.dark-gray{
	background:#e6e6e6;
}
.dark-gray1{
	background:#777;
	color:#fff;
}
section{
	padding: 20px;
    /* box-shadow: 0 0 18px -12px #51525b; */
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
}
.mfa{
	padding-top:30px;
}

.mfa section{

	padding: 40px 60px;
	margin: 10px 15%;
}
.mfa ul{
	list-style:none;
}
.mfa ul li{
	color:#fff ;
	font-weight:600;
	margin:10px 0;
	text-transform: uppercase;
	position:relative;
	padding:0 0 0 25px;
	line-height: 22px;;
}
.mfa ul li strong{
	background:#4284DD;
	padding:10px;
}
.mfa ul li span{
	position:absolute;
	left:0;
	color:#4284DD;
}
.mfa ul li ul {
	margin:0 0 0 30px;	
}
.mfa ul li ul li{
	color:#515252;
	text-transform: none;
	position:relative;
	padding:0 0 0 40px;
	font-size:15px;

}
.mfa ul li ul li span{
	position:absolute;
	left:0;
}
.mfa ul li ul li ul li{
	color:#515252;
	font-weight:400;
	position:relative;
	padding:0 0 0 50px;
	font-size:14px;
}
.mfa ul li ul li span{
	position:absolute;
	left:0;
}
.mfa ul li ul li ul li ul li{
	color:#515252;
	font-weight:400;
	position:relative;
	font-size:13px;
	padding:0 0 0 70px;
}
.mfa ul li ul li ul li span{
	position:absolute;
	left:0;
}
.mfa ul li a{
	color: #4284DD;
    text-decoration: underline;
    font-weight: 400;
}
.mfa ul li a:hover{
	text-decoration:none;
}
.testingmenu{
	display: block;
    height: 100%;
}
.testingmenu ul{
	display:flex;
	flex:1;
	align-items: center;
	justify-content: center;
	height:100%;
	flex-wrap: wrap;
}
.testingmenu ul li{
	list-style: none;
	width:350px;
	height:160px;
	margin:0 10px;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position:relative;
    background: #fff;
}
.testingmenu ul li span{
	flex:1;
	display:flex;
	align-items: center;
	justify-content: center;
	color: #515252;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
	width:100%;
}
.testingmenu ul li a{
	padding:0;
	display:flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #515252;
    background: #fff;
	width: 100%;
	height:100%;
    box-shadow: 5px 5px 17px -13px #515252;
}
.testingmenu ul li ul{
	display:flex;
	height:auto;
	flex:initial;
	width: 100%;
	position:absolute;
	left:0;
	bottom:0;

}
.testingmenu ul li ul li{
	width:auto;
	height:auto;
	flex: 1;
    margin: 0;
}
.testingmenu ul li ul li a{
	width: 100%;
    height: auto;
    background: #3DB487;
    color: #fff;
    padding: 12px 30px;
    border-radius: 00;
    margin:0px 0;
    font-size: 11px;
    text-transform: uppercase;
    flex: 1;
	border-left: 1px solid #fff;
}
.testingmenu ul li a:hover{
	background:#3DB487;
	color:#fff;
}
.testingmenu ul li:hover{
	background:#3DB487;
	color:#fff;
}
.testingmenu ul li:hover span{
	color:#fff;
}
.testingmenu ul li:hover ul li a{
	background:#515252;
}
.testingmenu ul li:hover ul li a:hover{
background:#fff;
color:#3DB487;
}
.breadcrumb{
	/* position:absolute; */
	top:15px;
	left:10px;
	display:flex;
	align-items: center;

}
.breadcrumb p{
	margin:0 15px;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size: 14px;
	display:flex;
	align-items: center;
}
.breadcrumb p a{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	text-decoration: underline;;
}
.breadcrumb p svg{
	margin:0 5px;
}
.breadcrumb p a:hover{
	text-decoration: none;
}
.breadcrumb p b{
	font-weight: 500;
}
.breadcrumb svg{
	width:30px;
	height:30px;
}
.breadcrumb svg path{
	fill:#fff;
}
.before {
	page-break-before: always;
  }

  .after {
	page-break-after: always;
  }
  .avoid {
	page-break-inside: avoid;
  }
  #download-button, .download-button{
	/* position:fixed; */
	top:15px;
	right:15px;
	padding:10px;
	text-transform: uppercase;
	background:#3DB487;
	color:#fff;
	font-weight:600;
	font-size:11px;
	border:none;
	border-radius:5px;
	cursor: pointer;
	z-index: 999;
  }

.rw-result .result-pan{
	max-width:1400px;
	margin:0 auto;
}
.rw-result .result-pan h4{
	color:#4284DD;
	text-transform: uppercase;
	font-size:14px;
	margin:10px 0 5px;
}
.rw-result .result-pan td{
padding: 6px;
color: #333;
font-size: 12px;
font-weight: 400;
line-height: 16px;
}
.rw-result .result-pan ul{
	margin-left:20px;
	font-size:12px;
}
.rw-result .result-pan ul li{
	font-size:12px;
	line-height: 22px;
}
.rw-result .result-pan table{
	background:#f3f8ff;
}

.rw-result .result-pan .graybg{
	background:#f5f5f5;
}
.rw-result .result-pan a{
	color:#3DB487;
	text-decoration: underline;
}
.rw-result .result-pan a:hover{
	text-decoration:none;
}
.b10{
	padding:0;
	height:100%;
}
.b10 section{
	max-width: 1440px;
	margin:0 auto 10px;
	width:100%;
	border-radius:10px;
	padding:0;
}
.b10 .imagessec{
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.b10 section p{
	color:#333;
	font-size:14px;
	text-align: left;
	padding:0 20px;
	font-weight: 400;
	margin-top:20px;
}

.b10 .imagessec figure{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	max-width:150px;
}
.b10 .imagessec figure img{
	width:100px;
}
.b10 .imagessec figure figcaption{
	text-align: center;
	font-size:12px;
	color:#333;
	font-weight: 600;
	margin:3px 0 0 0;
}
.b10 .imagessec figure.arrow{
	flex:inherit;
	max-width: initial;
	margin:46px -23px;
	position: relative;
}
.b10 .imagessec figure.arrow1{
	margin: 49px -63px 49px -24px;
}
.b10 .imagessec figure.arrow2{
	margin:49px -36px 49px -25px;
}
.b10 .imagessec figure.arrow3{
	margin:49px -23px 49px -39px;
}
.b10 .imagessec figure.arrow4{
	margin:49px -24px 49px -58px;
}
.b10 .imagessec figure.arrow img{
	width:130px;
}
.b10 .workflow{
	padding:0 0 0 50px;
}
.b10 h4{
	color: #4372c4;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 12px;
    background: #f3f8ff;
    padding: 20px 20px;
}
.b10 ul{
	padding:0 0 20px 40px;
}
.b10 ul li{
	margin:0 0 10px;
	font-weight: 400;
}
.b10 h5{
	color: #3DB487;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin:30px 0 15px;
}

.mainpage{
	background:#fff;
	display:flex;
	flex-direction: column;
	/* max-width: 1440px;
	margin:0 auto; */
	font-family: "Lato", sans-serif;
	justify-content: flex-start;
}
.mainpage .bg{
	background:#f5f7f9;
	margin:0;
	padding:0;
}
.mainpage header{
	 background:#515252;
	 padding:0 10px;
	 width:100%;
	 text-align: left;
	 position:sticky;
	 display:flex;
	 height:auto;
	 align-items: center;
	 top:0;
	 height:80px;


}
.mainpage .home-header{
	background:rgba(255,255,255,0.6);
}
.mainpage header figure{
	background:transparent;
	height:50px;
	padding:0;
	margin:0;
	text-align: left;
}
.mainpage .content{
	flex:1;
}
/* .mainpage .banner{
	min-height: 350px;;
} */
.mainpage nav{
	align-items: center;
	justify-content: flex-end;
	flex:1;
	display:flex;
	margin:0 30px 0 0;
	background:#515252;
	height:100%;
}
.mainpage .home-header nav{
	background:rgba(255,255,255,0.6);
}
.mainpage ul{
	list-style: none;
	display:flex;
	padding:0px;
	margin:0px 0;
	height: 100%;
	align-items: center;
}
.mainpage ul li{
	font-weight: 500;
	text-align: center;
	position:relative;
	margin:0 5px 0;
	height: 100%;
	align-items: center;
	display: flex;
	
}
.mainpage ul li a{
	color:#fff;
	display:flex;
	align-items: center;
	padding:7px 26px;
	border-radius:10px;
	margin:0px 0;
	position: relative;
}
.mainpage .home-header nav li a{
	color:#333;
}
.mainpage ul li a .material-symbols-outlined{
	position: absolute;
	right: 4px;
    top: 9px;
    font-size: 19px;
}
.flex-column{
	display:flex;
	flex-direction: column;
}
.mainpage ul li a:hover{
	background:#4284DD;
	color:#fff;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.mainpage .button{
    padding: 15px 20px;
    text-transform: uppercase;
    background: #3DB487;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mainpage ul li ul{
	position: absolute;
    right:-80px;
   height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 9px 9px -5px #999;
    border-radius: 0;
	opacity: 0;
	top:-600px;
	transition:ease all 500ms;
	z-index: -9;
}
.nobg{
	background:none !important;
}
.mainpage ul li ul li{
	text-align: left;
	margin:10px 0;;
	width:100%;
}
.mainpage ul li ul li a{
	padding:0;
	margin:0;
	color:#333;
	width:100%;
}

.mainpage ul li ul li a:hover{
	background:none;
	color:#4284DD;
	font-weight: 600;;
}

.mainpage ul li.active a{
	background:#4284DD;
	color:#fff;
}
.mainpage ul li.active ul li a{

	color:#333;
	background:transparent;
}
.mainpage ul li ul li.active a{
	background:none;
	color:#4284DD;
	font-weight: bold;
}


.mainpage ul li:hover ul{
	opacity:1;
	top: 63px;
}
.mainpage .banner{
	display:flex;
	padding:0;

}
.mainpage .banner figure{
	width:100%;
	margin:0;
	position:relative;
	display: flex;
    align-items: center;
    justify-content: center;

	background:#f2f2f2;
}
.mainpage .banner figure img{
	width:100%;
}
.mainpage .bancontent{
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.mainpage .banner figure figcaption{
	font-size:30px;
	margin-bottom:20px;
	color:#333;
	font-weight: 400;
	text-align: center;
	font-family: "Lato", sans-serif;
	


}
.mainpage .banner figure figcaption span{
	color:#4284DD;
	font-weight: 600;
	font-size:40px;
	font-family: "Archivo Black", sans-serif;
}
.mainpage .sectiondet{
	display:flex;
	flex-direction: row;
	align-items: center;
	max-width: 1040px;
	margin:0 auto;
}
.mainpage .sectiondet figure{
	width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px;
    display: inline-block;
	
}
.mainpage .sectiondet .left{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	padding:30px;
	border:none;
	flex:2;
}
.mainpage .titletext h1{
	color:#4284DD;
	font-weight:400;
	font-size:40px;
	text-align: left;
	text-transform: none;
	font-family: "Lato", sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding:50px 0 0 0;
}
.mainpage .sectiondet .left h1{
	color:#4284DD;
	font-weight:700;
	font-size:40px;
	text-align: left;
	text-transform: none;
	font-family: "Lato", sans-serif;

}
.mainpage .sectiondet .left p{
	text-align: left;
	color:#333;
	line-height: 40px;;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	font-size:18px;
}
.mainpage .sectiondet figure img{
	width:100%;
}
.mainpage .content{
	max-width: 1040px;
	margin:0 auto;
}
.mainpage footer{
	background:#515252;
	padding:30px;
}
.mainpage footer .content{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 1290px;;
}
.mainpage footer figure{
	margin:0;
}
.mainpage footer figure img{
	width:300px;
	margin:0 0 0 -30px;
}
.mainpage footer nav{
	justify-content: flex-start;
	align-items: flex-start;
	width:100%;
	margin:0;
}
.mainpage footer ul{
	background:transparent;
	flex-direction: column;
	margin-right:20px;
	flex:1;
	color:#fff;
	align-items: flex-start;
	
}
.mainpage footer ul li {
	text-align: left;
	margin:5px 0;
}
.mainpage footer ul li a{
	margin:0;
	font-family: "Lato", sans-serif;
	padding:0;
}
.mainpage footer ul li a:hover{
	background:none;
	font-weight: bold;
}

.mainpage footer ul li b{
	font-weight: 600;
	padding:0 10px 0 0;
}
.mainpage footer ul li.title{
	color:#fff;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	color:#3DB487;
	margin:10px 0;
}
.mainpage .featuredet .content{
	max-width:1290px;
	margin:0 auto;
	padding:20px 0;
	justify-content: flex-start;
	align-items: flex-start;
}
.mainpage .featuredet nav{
	background:#fff;
	padding:10px;
	width:300px;
	flex:initial;
	justify-content: flex-start;
	position:sticky;
	top:80px;
}
.mainpage .featuredet nav ul{
	flex-direction: column;
	background:transparent;
	align-items: flex-start;
}
.mainpage .featuredet nav ul li a{
	color:#333;
	padding:5px;
	margin:5px 0;
}
.mainpage .featuredet nav ul li.active a, .mainpage .featuredet nav ul li a:hover{
	background:none;
	font-weight: bold;
	color:#4284DD;

}
.mainpage .featuredetsection h1{
	color:#fff;
	text-align: left;
	font-size:20px;
	padding:10px;
	margin:0;
	font-weight: 100;
	background:#3DB487;
}
.mainpage .featuredetsection{
	background:#fff;
	flex:1;
	margin-left:0px;
}
.mainpage .featuredetsection .details{
	background:#fff;
	padding:20px;
	display:flex;
	flex-wrap: wrap;
}
.mainpage .featuredetsection .details dl{
	width:50%;
	padding:10px;
}
.mainpage .featuredetsection .details dl.fullwidth{
	width:100%;
}
.mainpage .featuredetsection .details dl dt{
	font-weight: 600;
	font-size:12px;
	color:#4284DD;
	margin:0 0 3px;
}
.mainpage .featuredetsection .details dl dd{
	color:#333;
	font-weight: normal;

}
.mainpage .featuredetsection .details dl dd a{
	color:#333;
	font-weight: normal;
	text-decoration:underline;
}
.mainpage .featuredetsection .details dl dd a:hover{
	text-decoration: none;
}
.mainpage .cert-cr .details dl{
	width:100%;
	flex-direction: row;
	display:flex;
	align-items: center;
}
.mainpage .cert-cr .details dl dt{
	width:150px;
}
.mainpage .cert-cr .details dl dd{
	flex:1;
	width:auto;
}
.mainpage .featuredetsection .details h2{
	width:100%;
	background:#e6e6e6;
	color:#333;
	padding:10px 20px;
	text-align: left;
	margin:30px 0 10px;
	font-weight: 600;
	font-size: 12px;;
}
.mainpage .Clinical-measures .details table{
	width:100%;
}
.mainpage .Clinical-measures .details table tr th{
	background:#4284DD;
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	padding:10px 5px;
	font-family: "Lato", sans-serif;
}
.mainpage .Clinical-measures .details table tr:nth-child(2n+1){
	background:#f5f7f9;
}
.mainpage .Clinical-measures .details table tr th.width{
	width:100px;
}
.mainpage .Clinical-measures .details table tr td{
	font-size:12px;
	padding:10px 5px;
	color:#333;
	border:none;
	font-family: "Lato", sans-serif;
}
.mainpage .Clinical-measures .details table tr td.center{
	text-align: center;
}
.mainpage .Safety-Enhanced .details .sedtask{
	border:1px solid #ccc;
	margin:20px 0 0 0;
	width:100%;
}
.mainpage .Safety-Enhanced .details .sedtask h2{
	margin:0 0 20px;
}
.mainpage .Safety-Enhanced .details .sedtask  dl{
	border-bottom:1px solid #ccc;
}
.mainpage .contactform{
	width: 100%;
	margin:0 auto;
	padding:50px 0;
}
.mainpage form{
	max-width: 800px;
	margin:50px auto 0;
}
.contactmail{
	padding:70px 0 70px!important;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.contactmail .sectiondet{
	flex-direction: column;
}
.contactmail h1{
	padding: 0 50px 27px !important;
    font-size: 30px !important;
}
.contactmail .emailsec{
	display:flex;
}
.contactmail .emailsec .em svg{
	width:70px;
	height:70px;
}
.contactmail .emailsec .em svg path{
	fill:#251d4e;
}
.contactmail .emailsec .em{
	display: flex;
    flex-direction: row;
    align-items: center;
    /* border-top: 1px solid #4284DD; */
    padding: 24px 50px 0;
}
.contactmail .emailsec a{
	margin: 10px 0px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    text-align: center;
	text-decoration: underline;

}
.contactmail .emailsec  b{
	color: #222;
}
.contactmail p{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #3DB487;
    font-weight: bold;
    border-left: 1px solid #3DB487;
    padding: 0px 0 0 20px;
    margin: 0 0 0 20px;
	min-height: 107px;
    justify-content: center;

}
.contactmail p a:hover{
	text-decoration: none;
}
.contactform h1{
	color: #4284DD;

}
.contactform p{
	text-align: center;
    color: #333;
    line-height: 30px;
    font-family: "Lato", sans-serif;
	font-weight: 400;
	margin:0 20px 20px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.contactform p label{
	width:220px;
	display: inline-block;
	text-align: right;
	margin:0 20px 0 0;
	font-weight: 500;
}
.contactform p label span{
	color:#ff0000;
	margin-right:5px;
}
.contactform p input, .contactform p textarea{
	font-family: "Lato", sans-serif;
	font-size:13px;
	padding: 10px;
    width: 355px;
	border-radius:5px;
	border:1px solid #333;
}
#shadow-host-companion{
	padding:0;
	margin:0;
}
.mainpage .ourprojects{
	padding:0;
	margin:0;
	background:#4284DD ;
}
.mainpage .ourprojects article{
	display:flex;
	flex-direction: row;
}
.mainpage .ourprojects .details{
	background: #4284DD;
}
.mainpage .ourprojects .details figure {
margin: 0 35px;
}
.mainpage .ourprojects .details figure svg{
	width: 30px;
	height: 30px;
}
.mainpage .ourprojects .details figure svg path{
	fill:#fff;
}
.mainpage .ourprojects .details figure strong{
	width:70px;
	height:70px;
	padding:10px;
	border-radius:50%;
	border:1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mainpage .ourprojects .details figure figcaption{
	color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    /* padding: 5px 0 0 0; */
    text-transform: uppercase;
    /* font-size: 14px; */
    letter-spacing: 0.1em;
}
#loader{
	background:rgba(0,0,0,0.9);
	position:fixed;
	width:100%;
	height:100%;
	z-index: 9999;
	top:0;
	left:0;
}
.welcomecloudcraft{
	padding:0 20px;
	margin:0 0 50px;
}
.welcomecloudcraft h1{
	background:#4284DD;
	text-align: center;
	color:#fff;
	margin:0 -20px;
	padding:30px 0;
	display:flex;
	flex-direction: column;
}
.welcomecloudcraft h1 span{
	font-size:16px;
}
.casesutdies .banner figure{
	max-height: 300px;;
}
.casesutdies .content article{
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	width:100%;
	margin:50px 0;
}
.casesutdies .content article figure{
	background:rgba(128,8,0, 9);
	display:flex;
	border-radius: 16px;;
	align-items: center;
	justify-content: center;
	width:250px;
	height:150px;
}
.casesutdies .content article figure img{
	width:150px;
	padding:0;
}
.casesutdies .content article .casedet{
	flex:1;
	margin:0 0 0 50px;
}
.casesutdies .content article .casedet h2{
	background:transparent;
	color:#333;
	padding:0;
	margin:0 0 20px;
	text-align: left;
	font-weight: 600;
}
.casesutdies .content article .casedet h3{
	background:transparent;
	color:#000;
	padding:0;
	padding:5px 0;
	margin:30px 0 10px;
	text-align: left;
	font-weight: 900;
	box-shadow: none;
	font-size:14px;
	text-transform: uppercase;
	border-bottom:1px solid #999;
}
.casesutdies .content article .casedet p{
	text-align: left;
	color:#515252;
	font-size: 14px;
    line-height: 187%;
}
.casesutdies .content article .casedet a{
	color:#800800;
	font-weight: bold;
	text-decoration: underline;
	margin:15px 0 0 0;
	display:inline-block;
	cursor: pointer;
}
.casesutdies .content article .casedet a:hover{
	text-decoration:none;
}
.casesutdies .content article .casedet ol{
	display:flex;
	flex-direction: column;
	margin:0 0 0 30px;
}
.casesutdies .content article .casedet ol li{
	margin:10px;
    font-family: "Lato", sans-serif;
	font-size:14px;
	font-weight: 400;
	color:#515252;
}
.casesutdies .content article .casedet ol li b{
	font-weight: bolder;
	color:#333;
}
.casesutdies .content article .casedet ul{
	display:flex;
	flex-direction: column;
	list-style: disc;
	align-items: flex-start;
	margin:0 0 0 30px;
}
.casesutdies .content article .casedet ul li{
	margin:10px;
    font-family: "Lato", sans-serif;
	font-size:14px;
	font-weight: 400;
	display:list-item;
	flex-direction: column;
	text-align: left;
	align-items: flex-start;
}
.knowmoresec{
display:none;
}

.casesutdies .content article .casedet a.knowless{
	display: none;
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0 37px -15px #999;
}
.desk-hide{
	display:none;
}
.mob-hide{
	display:inline;
}
.mainpage .menu, .mainpage .close{
	display:none;
}
.fhirformcontent{
	display:flex;
	flex-direction: column;

}
.fhirformcontent h1{
	margin:0 auto;
	color:#333;
}
.fhirform {
	display:flex;
	flex-direction: column;
	background:#fff;
	padding:20px;
	width:800px;
	margin:0 auto !important;
	box-shadow: 0 0 5px 5px #eee;
    border-radius: 10px;
}
.fhirform .singlesec{
	display:flex;
	flex-direction: row;
}
.fhirform .singlesec p{
	flex:1;
	justify-content: flex-end;
}
.fhirform .singlesec em{
	flex-direction: column;
}
.fhirform p{
	display:flex;
	flex-direction: column;
	padding:5px;
	margin:0 0 10px;
}
.fhirform p label{
	font-size:12px;
	text-align: left;
	margin:0 0 3px;
	color:#333;
	font-weight: 500;
}
.fhirform p input{
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
}
.fhirform p em{
	flex-direction: row;
	display:flex;
	font-style: normal;
	flex-wrap: wrap;
}
.fhirform p em strong{
	margin: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: normal;
    color: #888;
    flex: 0 0 29%;
}
.fhirform p em strong span{
	margin:0 0 0 5px;
	text-align: left;
}
.fhirformcontent .buttoncontainer{
	display:flex;
	align-items: center;
	justify-content: center;

}
.fhirformcontent .buttoncontainer button{
	padding:10px 20px;
	color:#fff;
	border:none;
	color:#fff;
	background:#3DB487;
	border-radius:5px;
	text-transform: uppercase;
	font-weight: 600;
	font-size:11px;
	cursor: pointer;
}
.ehi-export{
	display:flex;
	flex-direction: column;
    margin: 0 auto;
    padding: 0px 0 50px !important;
  
}
.ehi-export .welcomecloudcraft{
	margin:0 0 20px;
	padding:0;
}
.ehi-export h1{
	padding:10px 0;
	font-size:24px;
}
.ehi-export p{
	max-width: 854px;
    margin: 20px auto 30px;
	color:#333;
	    line-height: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
.ehi-export p b{
	font-weight: 600;
	color:#3DB487;
}
.mainpage .ehi-export nav {
	padding:0;
}
.ehi-export nav ul{
	width:100%;
}
.ehi-export nav ul li{
	display:flex;
	padding:17px 10px;
	border-bottom:1px solid #eee;
	width:100%;
	margin:0;
	position:relative;
	cursor: pointer;
}
.ehi-export nav ul li:hover{
	background:#eee;
}
.ehi-export nav ul li span{
	color:#fff;
	width:30px;
	height:30px;
	display:flex;
	align-items: center;
	justify-content: center;
	background:#4284DD;
	border-radius:50%;
	position: relative;
	z-index: 9;
}
.ehi-export nav ul li:before{
	height:100%;
	width:1px;
	background:#999;
	position:absolute;
	content:"";
	left:25px;

}
.ehi-export nav ul li b{
	margin-left:15px;
	font-weight: bold;
	text-transform: uppercase;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	flex:1;
}
.ehi-export nav ul li b em{
	text-align: left;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color:#666;
	margin:5px 0 0 0;

}
.ehi-export nav ul li b small{
	font-size: 11px;
	color:#4284DD;
	font-weight: bold;
	margin:0 3px;
}
.ehi-export nav ul li b i{
	font-size:14px;
	margin:0 5px;
}
.ehi-export nav ul li b small.icon{
	font-size:16px;
}
.ehi-export nav ul li.active{
	background:#4284DD;
}
.ehi-export nav ul li.active span{
	background:#fff;
	color:#4284DD;
}
.ehi-export nav ul li.active b{
	color:#fff;
}
.ehi-export nav ul li.active i{
	color:#fff;
}
.ehi-export nav ul li.active em{
	color:#000;
}
.ehi-export nav ul li.active small{
	color:#fff;
}
.mainpage .ehi-export .featuredetsection .details{
	padding:10px;
	margin:0;
	width:100%;
}
.mainpage .ehi-export .featuredetsection .details .step{
	padding:10px;
	width:100%;

}
.mainpage .ehi-export .featuredetsection .details .step h3{
	    color: #4284DD;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: 0px 0px 0px;
    font-weight: 500;
	box-shadow: none;


}
.mainpage .ehi-export .featuredetsection .details .step p{
	text-align: left;
	padding:10px;
	margin:0 0 20px;
}
.mainpage .ehi-export .featuredetsection .details .step p b{
	font-weight: 600;
	color:#3DB487;
}
.mainpage .ehi-export .featuredetsection .details .step img{
		width:auto;
		max-width: 100%;
		padding:0;
}
.mainpage .ehi-export .featuredetsection .details .step .zoom-img.zoomed{
	    max-width: 75%;
}
.zoom-img {
  width: 300px;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

.zoom-img.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}
.ehi-export  .nav{
	display:flex;
	justify-content: space-between;
	margin:10px 20px;
}
.ehi-export  .nav button{
	background: #3DB487;
	text-transform: uppercase;
	color:#fff;
	padding:8px 20px;
	border-radius:5px;
	border:none;
	font-size:11px;
	cursor:pointer;

}
@media only screen and (max-width: 768px) {
	.mainpage .menu, .mainpage .close{
		display:inline;
	}
	.mainpage .home-header{
		background:#fff;
	}
	.mainpage nav{
		display:none;
	}
	.mainpage footer nav{
		display:flex;
		flex-direction: column;
	}
	.contactmail .emailsec{
		flex-direction: column;
	}
	.mainpage header nav{
		position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        height: 100%;
        background: #fff !important;
		align-items: flex-start;
        padding: 50px;
		display:none;
	}

	.mainpage header nav ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
		align-items: flex-start;
	}
	.mainpage header nav ul li{
		height: auto;
        margin: 10px 0;
        padding: 0;
        width: 100%;
		flex-direction: column;
	}
	.mainpage header nav ul li a{
		padding:0;
		padding:10px 30px;
		width:100%;
		color:#333;
	}
	.mainpage ul li.active a{
		padding:10px 30px;
	}
	.mainpage ul li a .material-symbols-outlined{
		position: static;
        float: right;
        display: flex;
        width: 100%;
        flex: 1;
        align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
	}
	.mainpage header nav ul li ul{
		position: static;
        padding: 0;
        display: none;
		z-index: 999;
	}
	.mainpage header nav ul li ul li{
		margin:3px 0;
	}
	.mainpage header nav ul li:hover ul{
		display:flex;
	}
	.mainpage .menu{
		color:#fff
	}
	.mainpage .home-header .menu{
		color:#515252;
	}
	.mainpage header .close{
		position: relative;
    z-index: 99;
	display:none;
	}
	.mobmenuactions{
		display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
	}
	.mainpage .featuredet nav{
		display:none;
	}
	.mainpage .featuredetsection .details dl{
		width:100%;
	}
	.testingmenu ul li{
		margin:20px 0;
	}
	.breadcrumb{
		display:none;
	}
	.rw-result .result-pan td{
		word-break: break-all;;
	}
	.casesutdies .content article{
		flex-direction: column;
	}
	.casesutdies .content article .casedet{
		margin:50px 0 0 0;
	}
	.casesutdies .content article figure{
		width:100%;
	}
	.mob-hide{
		display:none;
	}
	.desk-hide{
		display:inline;
	}

}